<div class="row">
	<div class="col-lg-12">
		<div class="section-header">
			<h2>Images</h2>
			<%#= link_to "New Link", new_deal_link_path(deal), class: 'btn btn-primary btn-md' %>
		</div>
	</div>
</div>
<hr>
<p>Images go here</p>