<div class="nested-fields">
	<div class="row">
		<div class="col-lg-4 col-md-4 form-group">
			<%= f.input :name, label: "Name", input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-4 col-md-4 form-group">
			<%= f.input :amount, label: "Amount", input_html: {class: 'form-control'} %>
		</div>
		<div class="col-lg-4 col-md-4">
			<%= link_to_remove_association "remove expense item", f, class: 'btn btn-danger' %>
		</div>
	</div>
</div>