<table class="table">
	<thead class="thead-default">
		<tr>
			<th>Item</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		<% items.each do |i| %>
		<tr>
			<td><%= i.name %></td>
			<td><%= number_to_currency(i.amount) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
