/* Container */
.container {
	background-color: rgb(235, 235, 240);
	padding: 70px 40px 40px 40px;
}

.header h1 {
	display: inline;
}

.header .btn {
	display: inline;
	float: right;
}

/* Show labels on top of input */
.form-control label {
	display: block;
}

/* Submit section of forms */
.submit {
	float: right;
}

.btn-submit {
	padding: 15px 60px;
}

.col-lg-12 .form-control {
	width: 50%;
}

.col-lg-6 .form-control {
	width: 50%;
}

.col-lg-4 .form-control {
	width: 60%;
}

.row {
	padding-top: 25px;
}

/* Navigation */

.navbar a {
	color: #000 !important;
}

.navbar a:hover {
	color: #FFF !important;
	background-color: #646464 !important;
}

.navbar-header .navbar-brand {
	color:#FFF !important;
	font-size: 1.5em;
}

.navbar-default .nav li.active a {
	color:#1D1D1D !important;
}