body {
	background-color: #FFF5E9;
}

/* CONTAINER */
.container {
	padding: 70px 40px 40px 40px;
}


/* PAGE HEADER */
.header h1 {
	display: inline;
}

.header .btn {
	display: inline;
	float: right;
}

/* SECTION HEADER */
.section-header {
	padding: 30px 0px 20px 0px;
}

.section-header h2 {
	display: inline;
}

.section-header .btn {
	display: inline;
	float: right;
}

/* FORM */

/* Submit section of forms */
.btn-submit {
	margin-right: 10px;
}

.col-lg-12 .form-control {
	width: 75%;
}

.col-lg-6 .form-control {
	width: 75%;
}

.col-lg-4 .form-control {
	width: 75%;
}

.row {
	padding-top: 15px;
}

/* NAVAIGATION */

.navbar a {
	color: #000 !important;
}

.navbar a:hover {
	color: #FFF !important;
	background-color: #646464 !important;
}

.navbar-header .navbar-brand {
	color: #000 !important;
	font-size: 1.5em;
}

.navbar-default .nav li.active a {
	color:#1D1D1D !important;
}

/* LANDING HEADER */

#hero {
	padding: 240px 0px !important;
	background: image_url('hero.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	border-bottom: 2px solid #C9C9C9;
}

.banner h1 {
	color: #FFF;
	/*font-family: 'Pacifico', cursive;*/
	font-size: 6.5em;
	text-align: center;
}

/* PROPERTY VIEWS */

/*  REPORT TAB */
.report-hero {
	text-align: center;
	padding: 20px 10px 40px 10px;
}

.report-hero label {
	font-size: 2em;
}

.report-hero .value {
	font-size: 1.6em;
}


/* OTHER */
.values {
	padding-bottom: 5px;
}

