body {
	background-color: #F7F7F2;
}

/* 
	CONTAINER 

*/
.container {
	padding: 70px 40px 40px 40px;
}


/* PAGE HEADER */
.header {
	padding-bottom: 15px;
}

.header h1 {
	display: inline;
	color: #001242;
}

.header .btn {
	display: inline;
	float: right;
}

/* SECTION HEADER */
.section-header {
	padding: 30px 0px 20px 0px;
}

.section-header h2 {
	display: inline;
	color: #00A676;
}

.section-header .btn {
	display: inline;
	float: right;
}

/* 
	FORM 

*/

/* Submit section of forms */
.btn-submit {
	margin-right: 10px;
}

.col-lg-12 .form-control {
	width: 75%;
}

.col-lg-6 .form-control {
	width: 75%;
}

.col-lg-4 .form-control {
	width: 75%;
}

.row {
	padding-top: 15px;
}

form label {
	display: block;
}

/* 
	NAVAIGATION 

*/

.navbar a {
	color: #000 !important;
}

.navbar a:hover {
	color: #FFF !important;
	background-color: #646464 !important;
}

.navbar-header .navbar-brand {
	color: #000 !important;
	font-size: 1.5em;
}

.navbar-default .nav li.active a {
	color:#1D1D1D !important;
}

/* 
	LANDING PAGE 

*/

/* banner */

#hero {
	padding: 200px 0px;
	background: image_url('hero.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	border-bottom: 2px solid #C9C9C9;
}

.banner h1 {
	color: #FFF;
	/*font-family: 'Pacifico', cursive;*/
	font-size: 4em;
	text-align: center;
	margin-top: -70px;
}

.banner p {
	text-align: center;
	font-size: 2em;
	color: #DDD;
}

.banner .btn {
	margin-top: 20px;
	padding: 20px 70px;
	background-color: white;
	font-size: 1.2em;
}

/* about */

.about p {
	margin-left: 20%;
	margin-right: 20%; 
}

.about h2 {
	margin-top: -20px;
	padding-bottom: 20px;
}

/* footer */

.footer {
	background-color: #242424;
	text-align: center;
	color:white;
	padding: 10px 0px 20px 0px;
}

.footer .container {
	margin-top: -50px;
	margin-bottom: -20px;
}

.footer p {
	font-size:0.9em;
	color:#F2F2F2;
	display: inline;
	margin: 0px 10px 0px 20px;
}

.footer .fa {
	padding-right: 5px;
}
/* 
	PROPERTY VIEWS 

*/

/* Deal Views */

.top-display {
	border-radius: 20px;
	background-color: #235789;

}

.top-display label {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px 0px 25px;
	font-size: 1.5em;
}

.top-display p {
	text-align: center;
	font-size: 2em;
	color: #EBB3A9;
	padding-bottom: 15px;
}

.loan-analysis {
	background-color: black;
}

.loan-analysis label {
	color: white;
	text-align: left;
	font-size: 1.3em;
}

.loan-analysis span {
	font-size: 1.3em;
	float: right;
}

/*
	REPORT VIEWS

*/

#sheet-form label {
	display: none;
}



/* 
	OTHER 

*/
