body {
	background-color: #FFF5D8;
}

/* Container */
.container {
	padding: 110px 40px 40px 40px;
}

.header h1 {
	display: inline;
}

.header .btn {
	display: inline;
	float: right;
}

/* Show labels on top of input */
.form-control label {
	display: block;
}

/* Submit section of forms */
.submit {
	float: right;
}

.btn-submit {
	padding: 15px 60px;
}

.col-lg-12 .form-control {
	width: 50%;
}

.col-lg-6 .form-control {
	width: 50%;
}

.col-lg-4 .form-control {
	width: 60%;
}

.row {
	padding-top: 25px;
}

/* NAVAIGATION */

.navbar a {
	color: #000 !important;
}

.navbar a:hover {
	color: #FFF !important;
	background-color: #646464 !important;
}

.navbar-header .navbar-brand {
	color: #000 !important;
	font-size: 1.5em;
}

.navbar-default .nav li.active a {
	color:#1D1D1D !important;
}

/* HEADER */

#hero {
	padding: 240px 0px !important;
	background: image_url('hero.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	border-bottom: 2px solid #C9C9C9;
}

.banner h1 {
	color: #FFF;
	/*font-family: 'Pacifico', cursive;*/
	font-size: 6.5em;
	text-align: center;
}
